# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar


# Gradle
/build/
.gradle/
**/out/


# IntelliJ IDEA
*.iml
.idea/


# Eclipse
.project
.classpath
.settings/


# VS Code
.vscode/


# Logs
logs/
*.log


# folder specific
/.gitattributes
/.gitignore
/.mvn

# OS files
.DS_Store
Thumbs.db

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

bin/